
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form method="post" action="/login">
                <h1>Login</h1>
                <input type="email" name="email" placeholder="Email" value="<%= locals.email %>"/>
                <input type="password" name="password" placeholder="Password"/>
                <button type="submit">Login</button>
                <p class="error">  <%= locals.message %> </p>
        </form>
    </main>
</body>
</html>